* {
	font-family: monospace;
	color: #49515a;
}

body 
{
	background-color: rgba(70, 130, 180, 0.12156862745098039);
}

#cabezera
{
	background-color: #fff;
	padding: 1em 0;
}
.img_profile
{
	background: url('../img/profile.jpg') no-repeat center;
	background-position: 0 0;
	background-size: 12em;
	border: 1px solid rgba(73, 81, 90, .8);
	height: 12rem;
	width: 12rem;
}

.nombre_completo h1
{
	font-size: 1.7em;
	line-height: 0;
}

.profesion h2 
{
	font-size: 1.2em;
	line-height: 0;
}

.redes_item
{
	background-color: rgba(73, 81, 90, 0.62);
	border-radius: 50%;
	height: 32px;
	margin-right:.5em;
	padding: .5em;
	transition: ease-out all .3s;
	width: 32px;
}

.redes_item:last-child
{
	margin-right: 0;
}

.redes_item:hover 
{
	background-color:  steelblue;
	text-decoration: none;
}

.redes_item i 
{
	color: #fff;
}

.boton_enviar
{
	background-color: rgba(73, 81, 90, .8) !important;
	font-weight: bold;
	transition: ease-out all .3s;
	text-align: center;
}

.boton_enviar:hover
{
	background-color: rgba(73, 81, 90, 1) !important;
}

.boton_enviar i, .boton_enviar span
{
	color: #fff
}

.colores
{
	
}

.color 
{
	height: .5rem;
}

.color-1
{
	background-color: rgba(73, 81, 90, 1);
}

.color-2
{
	background-color: #ce5f5f;
}

.color-3
{
	background-color: rgba(73, 81, 90, 1);
}

.color-4
{
	background-color: #ce5f5f;
}

.color-5
{
	background-color: rgba(73, 81, 90, 1);
}

.parrafo
{
	text-align: justify;
	line-height: 1.5;
}

.contenedor
{
	margin-top: 2rem;
}

.item_contenido, .item_aside
{
	background: #FFF;
	font-size: 1.1em;
}

.item_aside
{
	margin-bottom: 1rem;
}

#about .titulo
{
	font-size: 1.5em;
	font-weight: bold;
}

#datos-contancto
{
	padding: 1em 0 ;
}

#datos-contancto i
{
	width: 32px;
	text-align: center;
	line-height: 2;
	color: rgba(73, 81, 90, .3);
}

#datos-contancto a
{
	font-weight: bold;
}

@media all and (max-width:640px){
	.nombre_completo h1
	{
		line-height: 1;
		text-align: center;
	}

	.profesion, .nombre_completo, .redes_sociales
	{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
		-webkit-box-pack:center;
		-ms-flex-pack:center;
		justify-content:center;
	}

	.redes_sociales
	{
		margin: 1.5em 0;
	}
	.item_aside
	{
		margin-bottom: 0;
		margin-top: 1.5rem;
	}

}